.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    color: black;
    background-color: #1E90FF;
}

    .nav-pills > li.active > a:hover {
        background-color: #efcb00;
        color:black;
    }